## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Database is an organized collection of structured information, or data.

### SQL databases is relational databases, table based. These are verically scalable and better for multi_row transactions.

### NoSQL databases are primarily used for non relational data, and are in document, graph, wide_column in format.These are horizontally scalable  and better for unstructured data like JSON.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### DDL stands for data definition language. It is a subset of SQL. DDL consist of commands like CREATE, ALTER, TRUNCATE, DROP.

In [ ]:
### SQL code:
'''
CREATE TABLE Student
(
    college_id int,
    name varchar(30)
);

ALTER TABLE Student
    ADD roll_no. int;

TRUNCATE TABLE Student;

DROP TABLE Student;
     
'''

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## DML stands for Data Manipulation Language. It includes SQL commands that deals with the manipulation of data present in database. Commands included in DML are SELECT, INSERT, UPDATE, DELETE.

In [ ]:
### SQL code:
'''
INSERT into Student(college_id, name) values (234098, "Dhawal Jain");

UPDATE Student SET college_id=234097 WHERE name="Dhawal";

DELETE from Student WHERE college_id=234097;

'''

## Q4. What is DQL? Explain SELECT with an example.

### It stands for Data Query Language.These are used for performing queries on the data with schema objects. Commnads include in it is SELECT.

In [ ]:
## SQL code:
'''
SELECT name from Student;

'''

## Q5. Explain Primary Key and Foreign Key.

### Primary Key helps in uniquely identifying the tuple of the databases i.e. it ensures that data in specific column is unique and not null.
### While Foreign Key is used to identify the relationship between the tables through the primary key of one table, which acts as a foreign key to another table i.e. it provides the link between data in two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect
(
    host='local host',
    user='abc',
    password='password'
)

### cursor() method is used to create Cursor object of mysql-connector-python, which is used to execute statements to communicate with theMYSQL database.

### execute() method, accepts a MYSQL query as parameter and executes the given query.

## Q7. Give the order of execution of SQL clauses in an SQL query.

### 1. from
### 2. where
### 3. group by
### 4. having
### 5. select
### 6. order by
### 7. limit